
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/j11record.csproj.CoreCompileInputs.cache
obj/Debug/j11record.csproj.FileListAbsolute.txt
obj/Debug/j11record.csproj.GenerateResource.cache
obj/Debug/j11record.csprojAssemblyReference.cache
